<h1>INICIA SESION</h1>
<form action='' method='post' id="formLogin" class="user_form">
  Email: <input type='email' name='email' id='email' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='INGRESAR' />
</form>
<h2>O CON</h2>
<button onclick="location.href='/users/register-github'">GITHUB</button>
<button onclick="location.href='/users/register-google'">GOOGLE</button>
<button id="boton">TEST TOKEN</button>

<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/register'">Ir a registro</button>
<script src="/js/login.js"></script>